<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<!---
			WARNING: Keep this in folder in a location that is excluded from default
			item globbing (like under obj) or msbuild will slow down drastically,
			resolve references to random incompatible dlls in this folder, and break
			the build in the strangest of ways. This can also be fixed in the project
			file by removing CandidateAssemblyFiles from AssemblySearchPaths or
			setting EnableDefaultNoneItems to false, or both. However, we should not
			put workarounds into the project file as it's meant to be a test of what a
			normal customer project file would look like.
		-->
		<add key="globalPackagesFolder" value="obj\packages" />
	</config>
	<fallbackPackageFolders>
		<add key="LocalBuild" value="..\..\..\bld\nupkg\AnyCPU_Release\" />
	</fallbackPackageFolders>
	<packageSources>
		<clear />
		<add key="LocalBuild" value="..\..\..\bld\nupkg\AnyCPU_Release\" />
		<add key="PublicNugetOrg" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="LocalBuild">
			<package pattern="Microsoft.Security.Utilities.*" />
			<package pattern="Sarif.*" />
		</packageSource>
		<packageSource key="PublicNugetOrg">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>