<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="globalPackagesFolder" value="globalPackagesFolderTest" />
	</config>
	<fallbackPackageFolders>
		<add key="LocalBuild" value="..\..\..\bld\nupkg\AnyCPU_Release\" />
	</fallbackPackageFolders>
	<packageSources>
		<clear />
		<add key="LocalBuild" value="..\..\..\bld\nupkg\AnyCPU_Release\" />
		<add key="PublicNugetOrg" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="LocalBuild">
			<package pattern="Microsoft.Security.Utilities.*" />
			<package pattern="Sarif.*" />
		</packageSource>
		<packageSource key="PublicNugetOrg">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>