[*.cs]

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity=silent

# SA1637: File header should contain file name
dotnet_diagnostic.SA1637.severity=silent
dotnet_diagnostic.CA1070.severity=silent
dotnet_diagnostic.CA1032.severity=silent
dotnet_diagnostic.CA1507.severity=silent
dotnet_diagnostic.CA1820.severity=silent
dotnet_diagnostic.CA1802.severity=silent
dotnet_diagnostic.CA1812.severity=silent
dotnet_diagnostic.CA1824.severity=silent
dotnet_diagnostic.CA1825.severity=silent
dotnet_diagnostic.CA1841.severity=silent
dotnet_diagnostic.CA1845.severity=silent
dotnet_diagnostic.CA2014.severity=silent
dotnet_diagnostic.CA2016.severity=silent
dotnet_diagnostic.SA1600.severity=silent
dotnet_diagnostic.SA1601.severity=silent
dotnet_diagnostic.SA1602.severity=silent
dotnet_diagnostic.SA1603.severity=silent
dotnet_diagnostic.SA1604.severity=silent
dotnet_diagnostic.SA1605.severity=silent
dotnet_diagnostic.SA1606.severity=silent
dotnet_diagnostic.SA1607.severity=silent
dotnet_diagnostic.SA1608.severity=silent
dotnet_diagnostic.SA1609.severity=silent
dotnet_diagnostic.SA1610.severity=silent
dotnet_diagnostic.SA1611.severity=silent
dotnet_diagnostic.SA1612.severity=silent
dotnet_diagnostic.SA1613.severity=silent
dotnet_diagnostic.SA1614.severity=silent
dotnet_diagnostic.SA1615.severity=silent
dotnet_diagnostic.SA1616.severity=silent
dotnet_diagnostic.SA1617.severity=silent
dotnet_diagnostic.SA1618.severity=silent
dotnet_diagnostic.SA1619.severity=silent
dotnet_diagnostic.SA1620.severity=silent
dotnet_diagnostic.SA1621.severity=silent
dotnet_diagnostic.SA1622.severity=silent
dotnet_diagnostic.SA1623.severity=silent
dotnet_diagnostic.SA1624.severity=silent
dotnet_diagnostic.SA1625.severity=silent
dotnet_diagnostic.SA1626.severity=silent
dotnet_diagnostic.SA1627.severity=silent
dotnet_diagnostic.SA1628.severity=silent
dotnet_diagnostic.SA1629.severity=silent
dotnet_diagnostic.SA1630.severity=silent
dotnet_diagnostic.SA1631.severity=silent
dotnet_diagnostic.SA1632.severity=silent
dotnet_diagnostic.SA1633.severity=silent
dotnet_diagnostic.SA1634.severity=silent
dotnet_diagnostic.SA1635.severity=silent
dotnet_diagnostic.SA1636.severity=warning
dotnet_diagnostic.SA1638.severity=silent
dotnet_diagnostic.SA1639.severity=silent
dotnet_diagnostic.SA1640.severity=silent
dotnet_diagnostic.SA1641.severity=silent
dotnet_diagnostic.SA1642.severity=silent
dotnet_diagnostic.SA1643.severity=silent
dotnet_diagnostic.SA1644.severity=silent
dotnet_diagnostic.SA1645.severity=silent
dotnet_diagnostic.SA1646.severity=silent
dotnet_diagnostic.SA1647.severity=silent
dotnet_diagnostic.SA1648.severity=silent
dotnet_diagnostic.SA1649.severity=silent
dotnet_diagnostic.SA1650.severity=silent
dotnet_diagnostic.SA1651.severity=silent
dotnet_diagnostic.SA1500.severity=silent
dotnet_diagnostic.SA1501.severity=silent
dotnet_diagnostic.SA1502.severity=silent
dotnet_diagnostic.SA1503.severity=silent
dotnet_diagnostic.SA1504.severity=silent
dotnet_diagnostic.SA1505.severity=silent
dotnet_diagnostic.SA1506.severity=silent
dotnet_diagnostic.SA1507.severity=silent
dotnet_diagnostic.SA1508.severity=silent
dotnet_diagnostic.SA1509.severity=silent
dotnet_diagnostic.SA1510.severity=silent
dotnet_diagnostic.SA1511.severity=silent
dotnet_diagnostic.SA1512.severity=silent
dotnet_diagnostic.SA1513.severity=silent
dotnet_diagnostic.SA1514.severity=silent
dotnet_diagnostic.SA1515.severity=silent
dotnet_diagnostic.SA1516.severity=silent
dotnet_diagnostic.SA1517.severity=silent
dotnet_diagnostic.SA1518.severity=silent
dotnet_diagnostic.SA1519.severity=silent
dotnet_diagnostic.SA1520.severity=silent
dotnet_diagnostic.SA1119.severity=silent
dotnet_diagnostic.SA1400.severity=silent
dotnet_diagnostic.SA1401.severity=silent
dotnet_diagnostic.SA1402.severity=silent
dotnet_diagnostic.SA1403.severity=silent
dotnet_diagnostic.SA1404.severity=silent
dotnet_diagnostic.SA1405.severity=silent
dotnet_diagnostic.SA1406.severity=silent
dotnet_diagnostic.SA1407.severity=silent
dotnet_diagnostic.SA1408.severity=silent
dotnet_diagnostic.SA1409.severity=silent
dotnet_diagnostic.SA1410.severity=silent
dotnet_diagnostic.SA1411.severity=silent
dotnet_diagnostic.SA1412.severity=silent
dotnet_diagnostic.SA1300.severity=silent
dotnet_diagnostic.SA1301.severity=silent
dotnet_diagnostic.SA1302.severity=suggestion
dotnet_diagnostic.SA1303.severity=suggestion
dotnet_diagnostic.SA1304.severity=silent
dotnet_diagnostic.SA1305.severity=silent
dotnet_diagnostic.SA1306.severity=silent
dotnet_diagnostic.SA1307.severity=silent
dotnet_diagnostic.SA1308.severity=silent
dotnet_diagnostic.SA1309.severity=silent
dotnet_diagnostic.SA1310.severity=silent
dotnet_diagnostic.SA1311.severity=silent
dotnet_diagnostic.SA1312.severity=silent
dotnet_diagnostic.SA1313.severity=silent
dotnet_diagnostic.SA1314.severity=silent
dotnet_diagnostic.SX1309.severity=silent
dotnet_diagnostic.SX1309S.severity=silent
dotnet_diagnostic.SA1101.severity=silent
dotnet_diagnostic.SA1126.severity=silent
dotnet_diagnostic.SA1100.severity=silent
dotnet_diagnostic.SX1101.severity=silent
dotnet_diagnostic.SA1200.severity=warning
dotnet_diagnostic.SA1201.severity=silent
dotnet_diagnostic.SA1202.severity=silent
dotnet_diagnostic.SA1203.severity=silent
dotnet_diagnostic.SA1204.severity=silent
dotnet_diagnostic.SA1205.severity=silent
dotnet_diagnostic.SA1206.severity=silent
dotnet_diagnostic.SA1207.severity=silent
dotnet_diagnostic.SA1208.severity=silent
dotnet_diagnostic.SA1209.severity=silent
dotnet_diagnostic.SA1210.severity=silent
dotnet_diagnostic.SA1211.severity=silent
dotnet_diagnostic.SA1212.severity=silent
dotnet_diagnostic.SA1213.severity=silent
dotnet_diagnostic.SA1214.severity=silent
dotnet_diagnostic.SA1216.severity=silent
dotnet_diagnostic.SA1217.severity=silent
dotnet_diagnostic.SA1102.severity=silent
dotnet_diagnostic.SA1103.severity=silent
dotnet_diagnostic.SA1104.severity=silent
dotnet_diagnostic.SA1105.severity=silent
dotnet_diagnostic.SA1106.severity=silent
dotnet_diagnostic.SA1107.severity=silent
dotnet_diagnostic.SA1108.severity=silent
dotnet_diagnostic.SA1109.severity=silent
dotnet_diagnostic.SA1110.severity=silent
dotnet_diagnostic.SA1111.severity=silent
dotnet_diagnostic.SA1112.severity=silent
dotnet_diagnostic.SA1113.severity=silent
dotnet_diagnostic.SA1114.severity=silent
dotnet_diagnostic.SA1115.severity=silent
dotnet_diagnostic.SA1116.severity=silent
dotnet_diagnostic.SA1117.severity=silent
dotnet_diagnostic.SA1118.severity=silent
dotnet_diagnostic.SA1120.severity=silent
dotnet_diagnostic.SA1121.severity=silent
dotnet_diagnostic.SA1122.severity=silent
dotnet_diagnostic.SA1123.severity=silent
dotnet_diagnostic.SA1124.severity=silent
dotnet_diagnostic.SA1125.severity=silent
dotnet_diagnostic.SA1127.severity=silent
dotnet_diagnostic.SA1128.severity=silent
dotnet_diagnostic.SA1129.severity=silent
dotnet_diagnostic.SA1130.severity=silent
dotnet_diagnostic.SA1131.severity=silent
dotnet_diagnostic.SA1132.severity=silent
dotnet_diagnostic.SA1133.severity=silent
dotnet_diagnostic.SA1134.severity=silent
dotnet_diagnostic.SA1135.severity=silent
dotnet_diagnostic.SA1136.severity=silent
dotnet_diagnostic.SA1137.severity=silent
dotnet_diagnostic.SA1139.severity=silent
dotnet_diagnostic.SA1413.severity=silent
dotnet_diagnostic.SA1000.severity=silent
dotnet_diagnostic.SA1001.severity=silent
dotnet_diagnostic.SA1002.severity=silent
dotnet_diagnostic.SA1003.severity=silent
dotnet_diagnostic.SA1004.severity=silent
dotnet_diagnostic.SA1005.severity=silent
dotnet_diagnostic.SA1006.severity=silent
dotnet_diagnostic.SA1007.severity=silent
dotnet_diagnostic.SA1008.severity=silent
dotnet_diagnostic.SA1009.severity=silent
dotnet_diagnostic.SA1010.severity=silent
dotnet_diagnostic.SA1011.severity=silent
dotnet_diagnostic.SA1012.severity=silent
dotnet_diagnostic.SA1013.severity=silent
dotnet_diagnostic.SA1014.severity=silent
dotnet_diagnostic.SA1015.severity=silent
dotnet_diagnostic.SA1016.severity=silent
dotnet_diagnostic.SA1017.severity=silent
dotnet_diagnostic.SA1018.severity=silent
dotnet_diagnostic.SA1019.severity=silent
dotnet_diagnostic.SA1020.severity=silent
dotnet_diagnostic.SA1021.severity=silent
dotnet_diagnostic.SA1022.severity=silent
dotnet_diagnostic.SA1023.severity=silent
dotnet_diagnostic.SA1024.severity=silent
dotnet_diagnostic.SA1025.severity=silent
dotnet_diagnostic.SA1026.severity=silent
dotnet_diagnostic.SA1027.severity=silent
dotnet_diagnostic.SA1028.severity=silent
dotnet_diagnostic.SA0002.severity=silent
dotnet_diagnostic.CA2244.severity=silent
dotnet_diagnostic.CA2246.severity=silent
dotnet_diagnostic.CA2255.severity=silent
dotnet_diagnostic.CA2234.severity=silent
dotnet_diagnostic.CA2252.severity=silent

[*.vb]
dotnet_diagnostic.CA1047.severity=silent
[*.{cs,vb}]
dotnet_diagnostic.CA1002.severity=silent
dotnet_diagnostic.CA1003.severity=silent
dotnet_diagnostic.CA1005.severity=silent
dotnet_diagnostic.CA1008.severity=silent
dotnet_diagnostic.CA1012.severity=silent
dotnet_diagnostic.CA1014.severity=silent
dotnet_diagnostic.CA1016.severity=silent
dotnet_diagnostic.CA1017.severity=silent
dotnet_diagnostic.CA1018.severity=silent
dotnet_diagnostic.CA1019.severity=silent
dotnet_diagnostic.CA1021.severity=silent
dotnet_diagnostic.CA1024.severity=silent
dotnet_diagnostic.CA1027.severity=silent
dotnet_diagnostic.CA1028.severity=silent
dotnet_diagnostic.CA1030.severity=silent
dotnet_diagnostic.CA1031.severity=silent
dotnet_diagnostic.CA1033.severity=silent
dotnet_diagnostic.CA1034.severity=silent
dotnet_diagnostic.CA1040.severity=silent
dotnet_diagnostic.CA1041.severity=silent
dotnet_diagnostic.CA1043.severity=silent
dotnet_diagnostic.CA1044.severity=silent
dotnet_diagnostic.CA1046.severity=silent
dotnet_diagnostic.CA1045.severity=silent
dotnet_diagnostic.CA1050.severity=silent
dotnet_diagnostic.CA1052.severity=silent
dotnet_diagnostic.CA1054.severity=silent
dotnet_diagnostic.CA1055.severity=silent
dotnet_diagnostic.CA1056.severity=silent
dotnet_diagnostic.CA1058.severity=silent
dotnet_diagnostic.CA1060.severity=silent
dotnet_diagnostic.CA1061.severity=silent
dotnet_diagnostic.CA1062.severity=silent
dotnet_diagnostic.CA1063.severity=silent
dotnet_diagnostic.CA1064.severity=silent
dotnet_diagnostic.CA1065.severity=silent
dotnet_diagnostic.CA1066.severity=silent
dotnet_diagnostic.CA1067.severity=silent
dotnet_diagnostic.CA1068.severity=silent
dotnet_diagnostic.CA1069.severity=silent
dotnet_diagnostic.CA1303.severity=silent
dotnet_diagnostic.CA1307.severity=silent
dotnet_diagnostic.CA1308.severity=silent
dotnet_diagnostic.CA2101.severity=silent
dotnet_diagnostic.CA1401.severity=silent
dotnet_diagnostic.CA1416.severity=silent
dotnet_diagnostic.CA1417.severity=silent
dotnet_diagnostic.CA1418.severity=silent
dotnet_diagnostic.CA1419.severity=silent
dotnet_diagnostic.CA1501.severity=silent
dotnet_diagnostic.CA1502.severity=silent
dotnet_diagnostic.CA1505.severity=silent
dotnet_diagnostic.CA1506.severity=silent
dotnet_diagnostic.CA1508.severity=silent
dotnet_diagnostic.CA1509.severity=silent
dotnet_diagnostic.CA1700.severity=silent
dotnet_diagnostic.CA1713.severity=silent
dotnet_diagnostic.CA1721.severity=silent
dotnet_diagnostic.CA1724.severity=silent
dotnet_diagnostic.CA1806.severity=silent
dotnet_diagnostic.CA1810.severity=silent
dotnet_diagnostic.CA1813.severity=silent
dotnet_diagnostic.CA1814.severity=silent
dotnet_diagnostic.CA1815.severity=silent
dotnet_diagnostic.CA1819.severity=silent
dotnet_diagnostic.CA1821.severity=silent
dotnet_diagnostic.CA1822.severity=silent
dotnet_diagnostic.CA1823.severity=silent
dotnet_diagnostic.CA1826.severity=silent
dotnet_diagnostic.CA1827.severity=silent
dotnet_diagnostic.CA1828.severity=silent
dotnet_diagnostic.CA1829.severity=silent
dotnet_diagnostic.CA1830.severity=silent
dotnet_diagnostic.CA1831.severity=silent
dotnet_diagnostic.CA1832.severity=silent
dotnet_diagnostic.CA1833.severity=silent
dotnet_diagnostic.CA1834.severity=silent
dotnet_diagnostic.CA1835.severity=silent
dotnet_diagnostic.CA1836.severity=silent
dotnet_diagnostic.CA1837.severity=silent
dotnet_diagnostic.CA1839.severity=silent
dotnet_diagnostic.CA1840.severity=silent
dotnet_diagnostic.CA1842.severity=silent
dotnet_diagnostic.CA1843.severity=silent
dotnet_diagnostic.CA1844.severity=silent
dotnet_diagnostic.CA1846.severity=silent
dotnet_diagnostic.CA1847.severity=silent
dotnet_diagnostic.CA1849.severity=silent
dotnet_diagnostic.CA2000.severity=silent
dotnet_diagnostic.CA2002.severity=silent
dotnet_diagnostic.CA2007.severity=silent
dotnet_diagnostic.CA2008.severity=silent
dotnet_diagnostic.CA2009.severity=silent
dotnet_diagnostic.CA2011.severity=silent
dotnet_diagnostic.CA2012.severity=silent
dotnet_diagnostic.CA2013.severity=silent
dotnet_diagnostic.CA2015.severity=silent
dotnet_diagnostic.CA2017.severity=silent
dotnet_diagnostic.CA2018.severity=silent
dotnet_diagnostic.CA1816.severity=silent
dotnet_diagnostic.CA2200.severity=silent
dotnet_diagnostic.CA2207.severity=silent
dotnet_diagnostic.CA2208.severity=silent
dotnet_diagnostic.CA2211.severity=silent
dotnet_diagnostic.CA2213.severity=silent
dotnet_diagnostic.CA2214.severity=silent
dotnet_diagnostic.CA2216.severity=silent
dotnet_diagnostic.CA2217.severity=silent
dotnet_diagnostic.CA2219.severity=silent
dotnet_diagnostic.CA2225.severity=silent
dotnet_diagnostic.CA2226.severity=silent
dotnet_diagnostic.CA2227.severity=silent
dotnet_diagnostic.CA2231.severity=silent
dotnet_diagnostic.CA2235.severity=silent
dotnet_diagnostic.CA2237.severity=silent
dotnet_diagnostic.CA2241.severity=silent
dotnet_diagnostic.CA2242.severity=silent
dotnet_diagnostic.CA2243.severity=silent
dotnet_diagnostic.CA2245.severity=silent
dotnet_diagnostic.CA2247.severity=silent
dotnet_diagnostic.CA2248.severity=silent
dotnet_diagnostic.CA2249.severity=silent
dotnet_diagnostic.CA2250.severity=silent
dotnet_diagnostic.CA2253.severity=silent
dotnet_diagnostic.CA2254.severity=silent
dotnet_diagnostic.CA2256.severity=silent
dotnet_diagnostic.CA2257.severity=silent
dotnet_diagnostic.CA2258.severity=silent

dotnet_diagnostic.CS1591.severity=silent
dotnet_diagnostic.CS1570.severity=silent